body {
    background-color: rgb(194, 218, 237);
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 20px;
}

.categories {
    background-color: rgb(197, 197, 245);
    border-radius: 8px;
}
.tasks {
    background-color: rgb(197, 197, 245);
    border-radius: 8px;
}

.manipulateCategoryForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#newCategoryName {
    border: none;
    outline: none;
    background-color: rgb(197, 197, 245) ;
}